[package]
name = "ml-kem"
version = "0.1.0"
edition = "2021"
rust-version = "1.74"
license = "Apache-2.0 OR MIT"

[features]
default = []
deterministic = [] # Expose deterministic generation and encapsulation functions

[dependencies]
hybrid-array = { version = "0.2.0-rc.6" }
rand_core = "0.6.4"
sha3 = "0.10.8"

[dev-dependencies]
criterion = "0.5.1"
hex = "0.4.3"
hex-literal = "0.4.1"
rand = "0.8.5"

[[bench]]
name = "mlkem"
harness = false
